:root {
  --font-18: 1.125rem; /* 18 px */
  --very-dark-blue: hsl(217, 54%, 11%); /* main background color */
  --very-dark-blue-main: hsl(215, 51%, 70%); /* main background color*/
  --very-dark-blue-card: hsl(216, 50%, 16%); /* card background color */
  --very-dark-blue-line: hsl(215, 32%, 27%); /* line */
  --white: hsl(0, 0%, 100%); /* white */
  --soft-blue: hsl(215, 51%, 70%); /* soft blue */
  --cyan: hsl(178, 100%, 50%); /* cyan */
}